# fly.toml app configuration file generated for mail-sender-app on 2025-09-26T15:15:08+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mail-sender-app'
primary_region = 'sjc'

[env]
SPRING_PROFILES_ACTIVE = "prod"

[build]
dockerfile = "Dockerfile"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = false
auto_start_machines = false
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
